# Opdracht 2. `pandas`


## Opgave 1. Cijfers met `pandas`

Numpy arrays kunnen alleen uniforme waarden bevatten. Pandas arrays kunnen juist meer bevatten. We doen de opdracht in numpy nu in pandas. Tip: maak gebruik van de cheat sheets!

Aanvullende bron:
-	http://nbviewer.jupyter.org/github/justmarkham/pandas-videos/blob/master/pandas.ipynb

De blokcoördinator D.O. Cent van blok A, SIE-V2  wil graag de cijfers analyseren en verwerken. het blok bestaat uit 3 vakken, die door 10 studenten gevolgd zijn. Analyse omvat o.a. het bepalen van gemiddelde cijfer, het aantal voldoendes en cursusrendement. De verwerking bestaat uit het corrigeren van de cijfers. 


In `blokAcijfers.txt` staan de cijfers per vak (naast elkaar staan de vakken, onder elkaar de studenten):

vak1 | vak2 | vak3
----|-------|------
6.5 | 7.3   | 6.4
8.0 | 8.0	| 8.5
3.2	| 4.0	| 5.0
7.9	| 7.1	| 3.5
7.3	| 7.8	| 8.0
8.6	| 8.0	| 9.0
4.0	| 6.0	| 5.5
7.3	| 7.8	| 7.8
4.5	| 5.6	| 7.7
5.0	| 7.0	| 7.2

In `blokAStudenten.csv` staan de studentgegevens:

"Studentnr"|"Naam"|"Vooropleiding"
--|--|--
1502000|"Jan Jansen"|"HAVO"
1501677|"Ali ElMoune"|"MBO"
1503190|"Bert de Graaf"|"HAVO"
1506700|"Koos Alberts"|"MBO"
1504503|"Willie Napoli"|"MBO"
1507878|"Jorrit Beeks"|"VWO"
1502507|"Frits Wielenga"|"HAVO"
1503684|"Cornee Nijsten"|"VWO"
1503831|"Sabine Honing"|"HAVO"
1506001|"George Belfore"|"HAVO"

In [ ]:
# Deze imports zijn nodig voor de opdracht.
import pandas as pd
import numpy as np

De docent wil de gegevens in een Jupyter Notebook verwerken.
-	Lees tekstbestand: blokAcijfers.txt in, in een dataframe `cijfers`.
-	Laat zien dat de gegevens goed ingelezen zijn.
-	Wijzig de kolomnrs in de vaknamen: vakken = ['RAD','ANA', CBA'].
-	Toon de dataframe attributen.
-	Toon de index gegevens.

De docent ziet dat er 2 cijfers fout zijn en wil deze corrigeren (NB. Elke regel heeft een numeriek index gelijk aan het regelnummer.)
-	 Wijzig de volgende cijfers							
    *	vak-2, student-3  cijfer 4.0 moet 4.3 worden.
    *	vak-1, student-10, cijfer 5.0 moet 4.8 worden.

De docent wil de studentgegevens ook aan het dataframe toevoegen.
-	Lees tekstbestand: `blokAStudenten.csv` in, in een dataframe `studenten`. Let op dat je de juiste instellingen voor sep en header meegeeft.
-	Laat zien dat de gegevens correct zijn ingelezen.

Nu gaan we ``studenten`` en ``cijfers`` samenvoegen tot een cijferslijst. We mogen er vanuitgaan dat de volgorde van beiden dezelfde index hebben (hier de rijwaarde 0 t/m 9).
-	Combineer de beide dataframes met behulp van `p.merge()`:
    *	Je kunt hier een inner join gebruiken.
    *	Je kunt van beide zijden de index gebruiken .
-	Laat zien dat de gegevens correct zijn samengevoegd tot één dataframe cijferlijst met de kolommen: `Studentnr`; `Naam`; `Vooropleiding`; `RAD`; `ANA`; en `CBA`.

Het is handig om een dataframe een sprekende index te geven:
-	Maak `Studentnr` de rij-index. NB. Gebruik indien nodig de optie `inplace=True`.

De docent wil wat basisgegevens: minimum, maximum, gemiddelde van de cijfers weten. Het grote voordeel is dat numpy heel goed kan omgaan met de numerieke kolommen van een dataframe. Voorbeeld: het berekenen van het gemiddelde cijfer voor het vak ‘RAD’ kan met de opdracht: `np.mean(cijferlijst['RAD']`.
-	Bepaal minimum, maximum en gemiddelde van alle cijfers.
-	Bepaal minimum, maximum en gemiddelde van elk vak (3 getallen).
-	Bepaal minimum, maximum en gemiddelde van elke student (10 getallen).

Er is een fout gemaakt bij de cijfers van het 1e vak (RAD). Iedere student krijgt 0.5 punt extra erbij.
-	Doe dit met één opdrachtregel.

De docent wil graag weten of er verschil in studentprestaties is afhankelijk van de vooropleiding. 
-	Toon voor elk vak het vooropleiding groepsgemiddelde.
-	Wat is je conclusie ?

## Opgave 2. `datetime` met `pandas`

Maak een Jupyter notebook waarin je met Pandas de volgende casus realiseert: een storingsmedewerker wil graag onderzoeken hoe het weer geweest is op 1 Januari 2017. Hiervoor vraagt hij bij het KNMI de weergegevens op van vier meetstations op de tijdstippen 08:00, 13:00 en 18:00.

Aanvullende bronnen:
- http://chrisalbon.com/python/pandas_time_series_basics.html
- http://chrisalbon.com/python/date_and_time_basics.html
- http://chrisalbon.com/python/pandas_group_by_time.html

In [ ]:
# Aanvullende imports
import datetime as dt
import matplotlib.pyplot as pyplot

# De data die we gaan gebruiken.
data = {'meetpunt': ['De Bilt','Maastricht', 'Leeuwarden',
                     'De Bilt','Maastricht', 'Leeuwarden',
                     'De Bilt','Maastricht', 'Leeuwarden',
                     'De Bilt','Maastricht', 'Leeuwarden'],
        'datum': ['2017-01-01 13:00:05.069722', '2017-01-01 13:00:01.119994', '2017-01-01 13:00:07.178768',
                  '2017-01-02 13:00:01.043200', '2017-01-02 13:00:03.119401', '2017-01-02 13:00:03.876898',
                  '2017-01-03 13:00:03.043450', '2017-01-03 13:00:02.669401', '2017-01-03 13:00:01.321898',
                  '2017-01-04 13:00:04.042015', '2017-01-04 13:00:04.321564', '2017-01-04 13:00:04.394866'],
        'temperatuur': [-0.3, 1.9, 0.8,
                        1.8, 7.1, 5.7,
                        2.9, 7.3, 5.1,
                        0.1, 6.8, 2.1,]}

Bewerk de data zodat deze netjes in een dataframe komt.
-	Maak een dataframe met kolommen: ‘datum’, ‘temperatuur, ‘meetpunt’.
-	Maak van de datum kolom een kolom met datatype datetime.

Doe de volgende analyse op de datum gegevens.
-	Haal de eerste datumwaarde uit de tabel.
-	Bepaal van de eerste datumwaarden: jaar, maand, dag, uur, minuut en seconde.
-	Bepaal het tijdsverschil tussen de 1e en laatste waarde.
-	Bepaal van het tijdsverschil het aantal dagen.
-	Bepaal van het tijdsverschil het aantal uren.

De storingsmedewerker wil graag de volgende gegevens van dagen. Daarom is het handig om de dataframe te voorzien van een index. Voer dan de volgende opdrachten uit en verklaar deze.
-	Maak van de datum kolom een index.
-	De temperaturen op 1 januari.
-	De temperaturen na 3 januari.
-	De temperatuur gemiddeld per dag .
-	Leg nu zelf uit wat de functie shift() doet.
-	Haal de datum kolom index weer weg.